<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="bola-de-futebol.png" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>projetodopelegrin.com</title>
</head>
<body>
    <div class="times">

    
        <div class="barcelona">
            <img src="barca logo.png">
            <a href="barcelona.html">BARCELONA</a>
        </div>

        <div class="manchester city">
            <img src="logo city.png">
            <a href="manchestercity.html">MANCHESTER CITY</a>
        </div>

        <div class="united">
            <img src="united_logo-removebg-preview-removebg-preview.png">
            <a href="united.html">MANCHESTER UNITED</a>
        </div>

        <div class="liverpool">
            <img src="liverpool logo.png">
            <a href="liverpool.html">LIVERPOOL</a>
        </div>
        </div>
        

    
        

    
    
</body>
</html>